.answer {
    display: none;
    margin-top: 15px;
    line-height: 1.7;
    color: #cfd9ff;
}

.question {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 15px 0;
}

.card {
    background: #13263a;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    border-left: 4px solid #ff4d6d;
    transition: 0.3s ease;
}

.card:hover {
    background: #17324a;
}
